/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --pink: #f2a7a0;
  --beige: #f2eed8;
}

html,
body {
  height: 100vh;
}

body {
  font-family: "Balsamiq Sans", cursive;
  background-color: var(--beige);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

/* header */
header {
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 16px;
  text-transform: uppercase;
}

/* categories */
.categories-wrapper {
  margin: 56px 0;
  display: grid;
  grid-gap: 32px;
  /* min = circle size */
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  justify-items: center;
}

.category-circle {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 2px solid var(--black);
  position: relative;
  display: grid;
  place-items: center;
  margin-bottom: 24px;
}

.category-circle::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -7px;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: var(--pink);
  z-index: -1;
}

.category-name {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}
